<% include _layouts/header %>
    <div class="row row-cols-1 row-cols-md-4 g-3 text-capitalize">
        <% products.forEach(function(p){ %>
            <div class="col">
                <a href="/products/<%= p.category %>/<%= p.slug %>">
                    <div class="card ar_trans h-100">
                        <img src="/product_images/<%= p.id %>/<%= p.image %>" alt=" " class="card-img-top img-thumbnail"
                            style="max-height: 350px; min-height: 350px;">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-7 fs-5 fw-bold">
                                        <small class="text-muted">
                                            <%= (p.title.length> 15 )? p.title.substring(0, 10) + '...' :p.title %>
                                        </small>

                                    </div>
                                    <div class="col-5 fs-5 fw-bold">
                                        <small class="text-muted"> $<%= parseFloat(p.price).toFixed(2) %>
                                        </small>

                                    </div>
                                </div>
                            </div>
                            <p class="card-text px-2 mt-4 text-capitalize">
                                <%= (p.desc.length> 75 )? p.desc.substring(0, 70) + '...' :p.desc %>
                            </p>
                            </h5>
                        </div>
                    </div>
                </a>

            </div>
            <% })%>
    </div>
    <% include _layouts/footer %>