<% include _layouts/header %>
    <div class="container-fluid text-capitalize mt-5">
        <div class="row">
            <div class="col-7 fs-4 fw-bold">
                <div class="card">
                    <img src="/product_images/<%= p.id %>/<%= p.image %>" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-xs-12">
                    <ul class="gallery">
                        <% galleryImages.forEach(function(image){ %>
                            <% if(image!="thumbs" ){ %>
                                <li>
                                    <a data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                                        <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="">
                                    </a>
                                </li>
                                <% } %>
                                    <% }) %>
                    </ul>
                </div>
            </div>
            <div class="col-5 ">
                <div class="card-body">
                    <h5 class="card-title fs-4 fw-bold">
                        <%= p.title %>
                    </h5>
                    <p class="card-text fs-4 fw-bold">
                        <small class="text-muted">$<%= parseFloat(p.price).toFixed(2) %>
                        </small>
                    </p>
                    <p class="lh-base">
                        <%= p.desc %>
                    </p>
                    <% if( loggedIn) { %>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-dark p-2" type="button"><a class="text-light"
                                    href="/cart/add/<%= p.slug %>">Add To
                                    Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></button>
                        </div>
                        <% } else { %>
                            <a class="clearcart btn btn-secondary float-end " href="/users/login">
                                Login to buy <i class="fa fa-sign-in" aria-hidden="true"></i>

                            </a>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
    <% include _layouts/footer %>